body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    margin: 0;
}

h1.title{
    font-size: 4rem;
    color: var(--gray-500);
    line-height: 2.5rem;
}

p{
    color: var(--gray-500);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-300);
    height: 50rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 4.5rem;
    gap: 20px;
    border-radius: 1%;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 35rem;
    height: 11%;
    background-color: var(--white);
    padding: 1.0rem;
    border-radius: 0.6rem;
    border-style: none;
    border: 1px solid var(--gray-300);
    
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--gray-700);
}

.input-group i {
    color: var(--gray-400);
    font-size: 2.2rem;
}

.btn{
    font-family: 'Sora', sans-serif;
    background-color: var(--purple-300);
    color: var(--white);
    padding: 1rem 3.4rem;
    width: 35rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    border-radius: 0.8rem;
    transition: .2s ease;
}

.btn:hover {
    transform: scale(1.05);
    background-color: var(--purple-500);
}


