<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./imgs/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap"
    rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/petSocial/css/criar_adm.css" />
    <link rel="stylesheet" href="/petSocial/css/reset.css" />
    <title>Criar administrador</title>
</head>
<body>

    <div class="main">
        <h1 class="title">Criar administrador</h1>
        <p class="sub-title">Preencha os campos para criar o novo usuário</p>
    
        <div class="input-group">
            <i class="ph ph-user-circle"></i>
            <input type="text" placeholder="Digite o nome de usuário">
        </div>
    
        <div class="input-group">
            <i class="ph ph-lock"></i>
            <input type="email" placeholder="Digite o e-mail">
        </div>
    
        <div class="input-group">
            <i class="ph ph-envelope"></i>
            <input type="password" placeholder="Digite a senha">
        </div>
    
        <button class="btn">Criar</button>
    </div>
    
</body>
</html>
